.sm-btn {
        background-color: $submitBtnColor;
        border: solid $submitBtnColor;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        margin: 0 auto; 
        margin-top: 15px;
        margin-bottom: 30px; // decide to keep
        width: 25%;
        padding: 5px;
        outline: none;
        
        &:hover {
            border: solid $submitBtnColorHover;
            background-color: $submitBtnColorHover;
        }
    }