// Body variables

$bodyBgColor: #333;
$fontColorAll:#f5f5f5;
$bodyDefaultFont: 'Nunito', sans-serif;

// Navigation bar variables
$navBarBgColor: rgba(113, 119, 144,0.1);
$navBarBgHoverColor: black;
$navBarTextColor: #f5f5f5;


// Section 2 content variables 

$optionsBgColor: rgba(113, 119, 144,0.7);


// Footer variables

$footerAnchorTagColor:#feca1d;