// Body variables

$bodyBgColor: #333;
$fontColorAll:#f5f5f5;
$bodyDefaultFont: 'Nunito', sans-serif;

// Navigation bar variables
$navBarBgColor: #333;
$navBarBgHoverColor: black;
$navBarTextColor: #f5f5f5;


// Index page variables.
// index.html Section 2 content variables 
$optionsBgColor: rgba(113, 119, 144,0.7);

    // index.html section 2 fa icons
    $faIconColor:#f5f5f5;
    $faBgColorIncFaq:#82D173;
    $faWarningBgColor: #feca1d;
    $faViewIncBgColor: #7EBDC2;
   

// Forms: Raise incident | View Incident | Logon | Report an Issue

$submitBtnColor: #DC7300;
$submitBtnColorHover: #db7f1c;


// Footer variables

$footerAnchorTagColor:#feca1d;

// Faqs.scss variables
$faqContentBgColor: #f5f5f5;
$faqMainFontColor: black;


// reportissue.scss variables
$warningSymColor: #feca1d;
$formTextColor:  black;