// Link for logon page
// https://www.youtube.com/watch?v=bP-Iw_04wTE
// Fontaswome have a different i tag
// remove span border and use natural border?

@import './variables';
@import './layout';
@import './components';

body {
    margin: 0px;
}


.logon-section {
    // margin-top: 70px; // default margin top testing the below
    margin-top: 150px;

}

fieldset {
    margin: 0 auto;
    background-color:  $optionsBgColor;
    border-radius: 9px;
    border: 1px solid black;
    width: 300px;
 }

.logon-subSection {
    
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        display: flex;
        justify-content: center;
    
        i {
          font-size: 5em;
          background-color:  $optionsBgColor;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 99999px;
        padding: 35px;
    
        }
      }

    input {
        padding: 5px;
        margin-top: 7.5px;
        font-size: 16px;

    }

}