@import './variables';
@import './layout';

// Tomorrows Objectives !!

// The idea is to clean the input and turn into classes.
// Possibly sort out the width of the input buttons as they're too wide at full screen.
// mobile length is fine, maybe include a media query to mitigate.
// play with the fieldset, give it a 3d effect. Done
// media query test does work, play around and see best options !! Kind of

// Decide on submit button styling... Done
// Work on way to make font uniform but via one setting, maybe multiplte styles like under label,input { property } etc...
// start working on creating the faq pages...

// What have i learnt? You can use the body as a class to keep css styling on pages different !!!
    // Keeping a footer stuck to bottom.
    // Flexbox and responsive design.

header {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    h1, h3 {
        font-size: 24px;
        margin-top: 0px;
        
    }
}

fieldset {
    color: black;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    border: 1px solid darkgrey;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 1px  #333; // box shaddow effect
    // box-shadow: 0px 0px 12px 1px  #333; // box shaddow effect exagerated..
    background-color: white;
    margin-bottom: 25px; // used to space from footer
    
    label {
        display: flex; 
        flex-direction: column; 
        margin-top: 15px;
    }
    
    input {
        padding: 5px;
        margin-top: 7.5px;
        // font-family: $bodyDefaultFont;
        font-size: 16px;
    }
    
    select {
        padding: 5px;
        width: 100%; 
        margin-top: 5px;
        // font-family: $bodyDefaultFont;
        font-size: 16px;
    }
    
    textarea {
        padding: 10px;
        // font-family: $bodyDefaultFont;
        font-size: 16px;
    }
    
    .sm-btn {
        background-color: #DC7300;
        border: solid #DC7300;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        margin: 0 auto; 
        margin-top: 15px;
        margin-bottom: 30px; // decide to keep
        width: 25%;
        padding: 5px;
        outline: none;
        
        &:hover {
            border: solid #db7f1c;
            background-color: #db7f1c;
        }
    }
    
    .form-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-size: 0.8em;

            span {
                text-decoration: underline;
            }
        }

    }
}

// Moving footer to layout. Because it will be multi use accross the board. If this does not work i'll add back.
// footer {
//     background-color: darkgray;
// }



// Media Query Test..

@media (max-width: 576px) {


    fieldset {
        width: 400px;

    }

    select {
        margin-top: 5px;
    }
    

}