.index-body {
  color: #f5f5f5;
  background-color: #333;
  font-family: "Nunito", sans-serif;
  height: 92vh;
  background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1052&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
}

.raiseIncident-body {
  color: #f5f5f5;
  background-color: lightgrey;
  font-family: "Nunito", sans-serif;
  height: 92vh;
  margin: 0px;
}

.viewIncident-body {
  color: #f5f5f5;
  background-color: lightgrey;
  font-family: "Nunito", sans-serif;
  height: 92vh;
  margin: 0px;
}

.reportIssue-body {
  color: #f5f5f5;
  background-color: lightgrey;
  font-family: "Nunito", sans-serif;
  height: 92.5vh;
  margin: 0px;
}

.faqs-body {
  color: #f5f5f5;
  background-color: lightgrey;
  font-family: "Nunito", sans-serif;
  height: 100vh;
  margin: 0px;
}

.logon-body {
  color: #f5f5f5;
  background-color: lightgrey;
  font-family: "Nunito", sans-serif;
  height: 84.3vh;
  background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1052&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
}

.footer {
  background-color: darkgray;
}

.sm-btn {
  background-color: #DC7300;
  border: solid #DC7300;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 25%;
  padding: 5px;
  outline: none;
}

.sm-btn:hover {
  border: solid #db7f1c;
  background-color: #db7f1c;
}

header {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

header h1, header h3 {
  font-size: 24px;
  margin-top: 0px;
}

header span {
  font-size: 1.7em;
  color: #feca1d;
}

fieldset {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 1px solid darkgrey;
  border-radius: 9px;
  -webkit-box-shadow: 0px 0px 2px 1px  #333;
          box-shadow: 0px 0px 2px 1px  #333;
  background-color: white;
  margin-bottom: 25px;
}

fieldset label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

fieldset input {
  padding: 5px;
  margin-top: 7.5px;
  font-size: 16px;
}

fieldset select {
  padding: 5px;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
}

fieldset textarea {
  margin-top: 15px;
}

@media (max-width: 576px) {
  fieldset {
    width: 400px;
  }
}
/*# sourceMappingURL=reportIssue.css.map */