@import './variables';
@import './layout';

.test {
    margin-top: 70px;
    text-align: center;

    img {
        height:500px ;
        width:900px ;
    }
}


// Media queries..

@media (max-width: 576px) {

    .test {
        margin-top: 70px;
        text-align: center;
    
        img {
            height:300px ;
            width:450px ;
        }
    }
    
}